
<!DOCTYPE html>

<html lang="en">

<head>
	<title>healty - user info</title>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" type="text" name="viewport">
	<link href="styles.css" rel="stylesheet">
</head>
<style>
body {
    height: 800px;
    background: linear-gradient(to bottom, #33ccff 0%, #0DE78E 100%)
}
</style>

<body>

	<form action="" id="questions" method="post" name="questions">
		<h1><center>User Info Setup</center></h1>

		<fieldset>

			<legend for="name">Name</legend>
			<input id="name" name="name" type="text">
		</fieldset>


		<fieldset>
			<legend for="gender"><center>Gender</center></legend>


			<input id="male" name="male" type="checkbox" value="male">
			<label for="gender">Male</label>


			<input id="female" name="female" type="checkbox" value="female">
			<label for="gender">Female</label>


			<input id="other" name="other" type="checkbox" value="other">
			<label for="other">Other</label>
		</fieldset>

		<fieldset>
			<legend for="age">Age</legend>
			<input id="age" name="age" type="tel">
		</fieldset>

		<fieldset>
			<legend for="wight">Wight(kg)</legend>
			<input id="wight" name="wight" type="tel">
		</fieldset>

		<fieldset>
			<legend for="height">Height(cm)</legend>
			<input id="height" name="height" type="tel">

		</fieldset>


	<fieldset>
			<legend>Aim to</legend>

			<input id="morning" name="favcolor" type="checkbox" value="morning">
			<label for="morning">lose wight</label>

			<input id="afternoon" name="favcolor" type="checkbox" value="afternoon">
			<label for="afternoon">gain muscle</label>

			<input id="evening" name="favcolor" type="checkbox" value="evening">
			<label for="evening">keep healthy</label>

		</fieldset>

<fieldset>
			<legend>Preferred Time(s)</legend>

			<input id="morning" name="favcolor" type="checkbox" value="morning">
			<label for="morning">morning</label>

			<input id="afternoon" name="favcolor" type="checkbox" value="afternoon">
			<label for="afternoon">afternoon</label>

			<input id="evening" name="favcolor" type="checkbox" value="evening">
			<label for="evening">evening</label>

		</fieldset>



<fieldset>
			<legend>Use DNA data and Wearable data</legend>

			<input id="DNA" name="DNA" type="checkbox" value="DNA">
			<label for="DNA">Use DNA data</label>
			<input id="Wearable" name="Wearable" type="checkbox" value="Wearable">
			<label for="Wearable">Use Wearable data</label>
</fieldset>


		<fieldset>
			<legend>Term</legend>
				<input id="agree" name="favcolor" type="checkbox" value="agree">
			<label for="agree">I agree the term</label>

</fieldset>

		<input type="submit" value="Submit" id="submit_info" type = "button" name="summit">

	</form>
</body>
<script src="../static/js/jquery-3.2.0.js"></script>
<script>
$(function() {
  $('#submit_info').click(function() {
   $.ajax({
    url: '/submit',
    data: $('form').serialize(),
    type: 'POST',
    success: function(response) {
        alert(response);
    },
    error: function(error) {
    }
   });
  });
 });
</script>
</html>